/* Paragrafos */
p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;    
    padding-top: 15px;
}

/* Botão de atualizar */
.button {
    display: inline-block;
    padding: 10px 12px;
    padding-left: 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
  }
  .button:hover {background-color: #3e8e41}
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  /* Calendário  */
  .calendario {
      padding-right: 10px;
  }

  /* Botão das setas */
  .buttonSeta {
    border-radius: 10%;
    background-color: #4CAF50;
    margin-left: 10px;
    margin-right: 10px;
  }
  .buttonSeta:hover {
    background-color: #3e8e41
  }
  .buttonSeta:disabled {
    opacity: 0.7;
    cursor: default;
  }
  .buttonSeta:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }